{% extends "meetups/base.html" %}
{% load static %}

{% block title %}All Meetups{% endblock %}


{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/all_meetups.css' %}">
{% endblock %}    


{% block main_heading%}
We got great meetups comping up!
{% endblock%}

{% block header_content%}
<p>Find the one that best suits your needs!</p>
{% endblock %}

{% block body %}
<section>
    <h2>Upcoming Meetups</h2>
    <ol>
        {% for meetups_item in meetups %}
        {% include 'meetups/meetup-item.html' with title=meetups_item.title  image=meetups_item.image.url location=meetups_item.location slug=meetups_item.slug %}
        {% endfor %}
    </ol>
</section>
{% endblock%}
